

$font-weight-light:300;
$font-weight-regular:400;
$font-weight-medium:600;
$font-weight-semi-bold:700;
$font-weight-bold:800;

// Text Colors
$base-text-color:#191818;

// Global Color
$default-color:#ffffff;
$black-color:#252525;
$base-bg-color:#eeefff;

$base-brand-color:#ff6600;
$gray-color:#444444;


$base-font-size:14px;
$base-font-family:'Open Sans', sans-serif;
$base-font-style:normal;
$base-font-weight:$font-weight-regular;
$base-line-height:1.6;



//weather card height
$weather-card-height:200px;



$toggle-button-off-color: #fff;
$toggle-button-transition: cubic-bezier(0,1,0.5,1);
$toggle-button-width: 85px;
$toggle-button-height: 40px;
$toggle-button-border-radius: 4px;
$toggle-button-offset: 2px;
$toggle-button-switch-font-size: 12px;

